<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63377653800-vkmghs7jtdsv2r4o7s4u8v89n04lhbab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63377653800-vkmghs7jtdsv2r4o7s4u8v89n04lhbab</string>
	<key>API_KEY</key>
	<string>AIzaSyDGTQSnztEu2PBerlGMXF5vSU5FfAe7EvI</string>
	<key>GCM_SENDER_ID</key>
	<string>63377653800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sankajagunasekara.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-1a298</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-1a298.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63377653800:ios:459ac726e33fde22a2351d</string>
</dict>
</plist>